/*****************************************************
 * Magic Mirror                                      *
 * Custom CSS                                        *
 *                                                   *
 * By Michael Teeuw http://michaelteeuw.nl           *
 * MIT Licensed.                                     *
 *                                                   *
 * Add any custom CSS below.                         *
 * Changes to this files will be ignored by GIT. *
 *****************************************************/

body {
    font-family: 'Open Sans', sans-serif;
}

.thin, .light, .regular, .bold, header {
    font-family: 'Open Sans', sans-serif;
}

.weatherforecast .module-header {
    display: none;
}

.clock .module-content .large {
    font-size: 128px;
    line-height: 128px;
}

